@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.header {
    height: 821px;
    background-image: url(/img/bgImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 43px 0;
}

.nav a {
    color: #fff;
    font-size: 23px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 35px;
}

.header__btn {
    background: #9F0F0F;
    color: #fff;
    padding: 10px 73px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.35);

    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 496px;
}

img {
    height: 100%;
}

.row {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__article {
    height: 100%;
    margin: 118px auto 80px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.footer {
    background-color: #7B0F15;
}

.footer__nav {
    padding: 30px 0;
}